ion-modal {
    position: relative;
    top: 60%;
    left: 0;
    display: block;
    width: 100%;
    min-height: 30%;
    max-height: 40%;
    bottom: 1px;
    background-color: transparent;
}
ion-select{
  width: 90%;
}
